body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cacaca;
    
}

header {
    width: 80%;
    background-color: black;
    color: white;
    margin-left: auto; /*para centrar o conteudo */
    margin-right: auto;
    padding: 10px;
    overflow: hidden; /**/

}

main {
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding: 5px;
    
}

article {
    overflow: hidden;

}

footer {
    width: 80%;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding: 10px;

}

aside {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    background-color: #cccc;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;

}
hgroup {
    width: 70%;
    float: left;

}

hgroup h1 {
    padding-top: 0;
    line-height: 1em;

}

hgroup h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1;

}

nav {
    width: 30%;
    float: right;

}

nav ul {
    list-style-type: none;

}

nav li {
    float: left;
    margin-right: 20px;
}

p {
    margin: 10px;

}

img {
    float: right;
    margin: 0px 0px 10px 10px;
    max-width: 300px;
    box-shadow: 3px 3px 5px 1px #cacaca;

}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    padding-top: 10px;

}

h2 {
    font-size: 1.6;

}

h3 {
    font-size: 1.3;

}

